<h1>Crie seu feedback</h1>
<%= form_with model: @feedback,data: {type: :hotwire} do |form| %>
 <div>
  <%= form.label :nome%>
  <%= form.text_field :nome%>
 </div>
 <div class="field">
  <%= form.label :desc%>
  <%= form.text_field :desc%>
 </div>
 <div class="field">
  <%= form.label :data%>
  <%= form.datetime_local_field :data%>
 </div>
 <div class="field">
  <%= form.label :resolvido%>
  <%= form.text_field :resolvido%>
 </div>
 <div class="field">
  <%= form.label :usuario%>
  <%= form.text_field :usuario%>
 </div>
<% end %>
<%=link_to "voltar", feedbacks_path%>



