<h1>Mostrando o feedback</h1>
<h2><%= @feedback.nome %></h2>
<p><%= @feedback.desc %></p>
<p><%= @feedback.data%></p>
<p><%= @feedback.resolvido%></p>
<p><%= @feedback.usuario%></p>
<%=link_to "voltar",feedbacks_path%>